.all-posts {
  margin-top: 64px;

  form {
    input {
      width: 100%;
      border-radius: 2px;
      border: 1px solid rgba(109, 110, 118, 0.50);
      padding: 24px;
    }
  }

  h1 {
    margin-top: 54px;
    margin-bottom: 32px;
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
  }

  .not-found {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
    color: red;
    font-family: sen;
  }

  .loading {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    font-size: 50px;
    font-family: sen;
    color: #232536;
  }

  .pagination {
    margin: 106px 0 106px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    button {
      border: none;
      border-radius: 10px;
      padding: 20px;
      font-size: 15px;
      font-family: sen;
      cursor: pointer;
      transition: all 0.3s linear;
    }

    button:hover {
      background-color: #232536;
      color: #fff;
    }

    .active {
      background-color: #232536;
      color: #fff;
    }
  }
}