.blogpost {
  .blog-info {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog-avatar {
      margin-top: 50px;
      display: flex;
      align-items: center;
      gap: 17px;

      img {
        border-radius: 50%;
        object-fit: cover;
      }

      .ava-info {
        .full-name {
          color: var(--Purple, #592EA9);
          font-family: Sen;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 40px;
          letter-spacing: -1px;
        }

        .data {
          color: var(--Medium-grey, #6D6E76);
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;

        }
      }

    }

    .blog-hero {
      margin-top: 24px;

      .blog-title {
        color: var(--Black, #232536);
        font-family: Sen;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
      }
    }

    .blog-start {
      margin-top: 34px;

      .blog-biznes {
        color: var(--Black, #232536);
        font-family: Sen;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
      }
    }

    .blog-lorem {
      margin-top: 64px;
      margin-bottom: 125px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      color: var(--Medium-grey, #6D6E76);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }

    .loading {
      margin-top: 100px;
      margin-bottom: 100px;
      margin-left: 100px;
      font-size: 50px;
      font-family: sen;
      color: #232536;
    }
  }

}