.card-section {
  margin-top: 64px;

  .card-body {
    display: flex;
    align-items: center;
    gap: 35px;

    img {
      width: 100%;
      max-width: 500px;
      object-fit: cover;
    }

    .card-title {
      h3 {
        color: var(--Purple, #592EA9);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      h5 {
        margin-top: 20px;
        color: var(--Black, #232536);
        font-family: Sen;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
      }

      p {
        margin-top: 16px;
        color: var(--Medium-grey, #6D6E76);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .card-body {
    display: flex;
    flex-wrap: wrap;
  }
}